@using System.Data;
@using System.Collections.Generic;
@{
    ViewBag.Title = "按钮管理";
    Layout = "~/Areas/WebAdmin/Views/Shared/_LayoutBlank.cshtml";
}

<!-- 工具集 -->
<div class="my-btn-box">
    <div class="layui-btn-group fl">
        <button class="layui-btn layui-btn-normal toolbox" id="add">
            <i class="layui-icon">&#xe654;</i>新增按钮
        </button>
    </div>
</div>

<!-- 表格 -->
<div id="dataTable" lay-filter="dataTable"></div>

<!--弹层区域-->
<form class="layui-form" style="display:none; margin:10px 10px 0 -30px;" id="mainForm">
    <input type="hidden" name="id" />
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" name="menuname" lay-verify="required" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">编码</label>
        <div class="layui-input-block">
            <input type="text" name="code" lay-verify="required" class="layui-input" />
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属模块</label>
        <div class="layui-input-block">
            <select name="moduleid" lay-verify="required">
                <option value="">请选择</option>
                @foreach (var userInfo in Model as Dictionary<string, List<DataRow>>)
                {
                    List<DataRow> dataRows = userInfo.Value;

                    <optgroup label="@userInfo.Key">

                        @foreach (DataRow dr in dataRows)
                        {
                            <option value="@dr["id"]">@dr["modulename"]</option>
                        }
                    </optgroup>
                }
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <input type="radio" name="status" value="1" title="启用" checked>
            <input type="radio" name="status" value="0" title="禁用">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">按钮说明</label>
        <div class="layui-input-block">
            <textarea name="remark" style="resize:none" placeholder="请输入按钮说明" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="save" lay-submit lay-filter="menuform">保存</button>
            <button id="cancle" class=" layui-btn layui-btn-primary">取消</button>
        </div>
    </div>
</form>

<script type="text/html" id="statusTpl">
    {{#  if(d.status == 1){ }}
    <input type="checkbox" name="status" lay-skin="switch" lay-text="启用|禁用" disabled checked />
    {{#  } else { }}
    <input type="checkbox" name="status" lay-skin="switch" lay-text="启用|禁用" disabled />
    {{#  } }}

</script>

<!-- 表格操作按钮集 -->
<script type="text/html" id="barOption">
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
</script>

<script src="~/Scripts/layui/layui.js"></script>
<script src="~/Scripts/static/js/index.js"></script>

<script type="text/javascript">
    // layui方法
    layui.use(['table', 'form', 'layer', 'enhanceform'], function () {
        // 操作对象
        var form = layui.form, table = layui.table, layer = layui.layer, $ = layui.jquery, enhanceForm = layui.enhanceform;
        var index = 0;
        var enhance = new enhanceForm({
            elem: '#mainForm' //表单选择器
        });

        // 表格渲染
        table.render({
            elem: '#dataTable',
            id: 'dataCheck',
            height: 450,
            even: true,
            url: '/api/menu/getlist',
            limits: [10, 15, 20],
            limit: 10,
            page: true,
            loading: true,
            cols: [[
                { type: 'checkbox', checkbox: true, fixed: true, float: 'left' },
                { type: 'numbers', title: '序号' },
                { field: 'menuname', title: '按钮名称' },
                { field: 'code', title: '按钮编码' },
                { field: 'modulename', title: '所属模块' },
                { field: 'status', title: '状态', templet: '#statusTpl' },
                { fixed: 'right', title: '操作', width: '18%', align: 'center', toolbar: '#barOption' }
            ]]
        });

        table.on('tool(dataTable)', function (obj) {
            var type = obj.event;
            active[type] ? active[type].call(this, obj) : '';
        });

        form.on('submit(menuform)', function (data) {
            var formdata = data.field;
            $.post("/api/menu/addOrupdate", formdata, function (ret) {
                if (ret.flag) {
                    layer.msg("保存成功!");
                    setTimeout(function () {
                        layer.close(index);
                        $(".layui-laypage-btn").click();
                    }, 2000)
                }
                else {
                    layer.msg(ret.msg);
                }
            }, "json");
            return false;
        });

        //按钮自定义事件
        $(".toolbox").on("click", function () {
            var type = $(this).attr("id");
            if (type)
                active[type] ? active[type].call(this) : '';
        });

        //取消按钮
        $("#cancle").click(function () {
            layer.close(index);
            return false;
        })

        var active = {
            //新增
            add: function () {
                $("#mainForm").show();
                $("input[type='hidden']").val("");
                index = layer.open({
                    type: 1,
                    maxmin: false,
                    title: "新增",
                    area: ['450px', '450px'],
                    shadeClose: true,
                    content: $('#mainForm'),
                    end: function () {
                        $("#mainForm").hide();
                        $('form')[0].reset();
                    }
                });
            },
            //编辑
            edit: function (obj) {
                var data = obj.data;
                $("input[type='hidden']").val(data.id);
                $.getJSON("/api/menu/getByID", { id: data.id }, function (d) {
                    if (d) {
                        //自动填充值
                        enhance.filling(d.data);
                        enhance.setSelectVal("moduleid", d.data.moduleid, false);
                        $("#mainForm").show();
                        index = layer.open({
                            type: 1,
                            maxmin: false,
                            title: "编辑",
                            area: ['450px', '450px'],
                            shadeClose: true,
                            content: $('#mainForm'),
                            end: function () {
                                $("#mainForm").hide();
                                $('form')[0].reset();
                                $("input[type='hidden']").val("");
                            }
                        });
                    }
                })
            },
            //删除
            del: function (obj) {
                var data = obj.data;
                var ids = "";
                if (data) {
                    ids = data.id;
                }
                //获取选中的ID传到后台进行删除
                if (ids == "")
                    return;

                layer.confirm('确定删除该条数据吗？', {
                    btn: ['确定', '取消']
                }, function () {
                    $.post("/api/menu/del", { ids: ids }, function (ret) {
                        if (ret.flag) {
                            setTimeout(function () {
                                $(".layui-laypage-btn").click();
                            }, 2000)
                            layer.msg("删除成功!");
                        }
                        else {
                            layer.msg(ret.msg);
                        }
                    }, "json");
                });
            }
        };
    });
</script>
